@page "/past/{Edition}"
@inject WebsiteSettings WebsiteSettings
@inject EventDetailsProvider EventDetailsProvider

<PageTitle>@Title | Bitbash</PageTitle>

<HeaderSpacer />

<Section HeaderText="@Title" ExtraClass="rocket-3">

    <Aftermovie Edition="@Edition" />
    <Galleria Edition="@Edition" />

</Section>

<Section HeaderText="@($"{Title} Speakers")" ExtraClass="rocket-3">

    <div class="container">

        @if (_speakers is not null)
        {
            <div class="row justify-content-center p-2">

                @foreach (var speaker in _speakers)
                {
                    <SpeakerCard Speaker="@speaker" Edition="@Edition"/>
                }

            </div>
        }

    </div>

</Section>

@code
{
    [Parameter]
    public string Edition { get; set; } = string.Empty;

    private string Title => WebsiteSettings.PreviousEditions[Edition].Title;

    private IEnumerable<Speaker>? _speakers;

    protected override async Task OnInitializedAsync()
    {
        _speakers = await EventDetailsProvider.GetSpeakersAsync(Edition);
    }
}