@inject WebsiteSettings Settings

@if (Session is not null)
{
    @if (Session.IsServiceSession is true)
    {
        <div class="card m-3 service-session">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">@Session.Room</h6>
                <h5 class="card-title">@Session.Title</h5>
            </div>
        </div>
    }
    else
    {
        <div class="card m-3 cursor-pointer" onclick="window.location.href='@GetUrl(Session)'">
            <div class="card-body">
                <h6 class="mb-2 text-muted">@Session.Room</h6>
                <h5 class="card-title">@Session.Title</h5>
                @foreach (var speaker in Session.Speakers)
                {
                    <h6 class="mb-2 text-muted">
                        <img loading="lazy" src="@speaker.ProfilePictureUrl" class="speaker-photo" alt="Photo of @speaker.FullName"> @speaker.FullName
                    </h6>
                }
            </div>
            <div class="card-footer bg-transparent border-0">
                <h6>
                    <span class="badge rounded-pill session-format mt-2">@Session.SessionFormat</span>
                    <span class="badge rounded-pill session-level mt-2">@Session.Level</span>
                </h6>
            </div>
        </div>
    }
}

@code
{
    [Parameter]
    public Session? Session { get; set; }
    
    [Parameter]
    public string? Edition { get; set; }
    
    private string GetUrl(Session session)
    {
        var edition = Edition ?? Settings.CurrentEdition;

        return $"{edition}/session/{session.Id}";
    }
}
