@inject NavigationManager NavigationManager
@inject WebsiteSettings Settings

@if (Session is not null)
{
    <div class="card m-3">
        <div class="card-body">
            <h6 class="mb-2 text-muted">@Session.Room</h6>
            <h5 class="card-title">@Session.Title</h5>
            <h6>
                <span class="badge rounded-pill session-level mt-2">@Session.Level</span>
            </h6>
        </div>
        <div class="card-footer bg-transparent border-0">
            @foreach (var speaker in Session.Speakers)
            {
                <h6 class="mb-2 text-muted">
                    <img loading="lazy" src="@speaker.ProfilePictureUrl" class="speaker-photo"> @speaker.FullName
                </h6>
            }
        </div>
    </div>
}

@code
{
    [Parameter]
    public Session? Session { get; set; }
}
