@page "/{Edition}/session/{SessionId}"
@inject EventDetailsProvider EventDetailsProvider

@if (session is not null)
{
    <PageTitle>@session.Title | Bitbash</PageTitle>

    <HeaderSpacer />

    <Section HeaderText="@session.Title" FadeUp="true">

    @* <div class="container pt-4" data-aos="fade-up"> *@
        <div class="row">
            <div class="card p-0">
                @if (session.StartsAt.HasValue)
                {
                    <div class="card-header">
                        <h2>@FormatTimeLocation(session)</h2>
                    </div>
                }
                <div class="card-body">
                    <p>@((MarkupString)((session.Description ?? string.Empty).Replace("\r\n", "<br/>")))</p>
                    <h6>
                        <span class="badge rounded-pill session-format">@session.SessionFormat</span>
                        <span class="badge rounded-pill session-level">@session.Level</span>
                    </h6>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    @foreach (var speaker in session.Speakers)
                    {
                        <SpeakerCard Speaker="speaker" />
                    }
                </div>
            </div>
        </div>
    @* </div> *@
    </Section>
}

@code
{
    [Parameter]
    public string Edition { get; set; } = string.Empty;

    [Parameter]
    public string SessionId { get; set; } = string.Empty;

    private Session? session;

    protected override async Task OnInitializedAsync()
    {
        session = await EventDetailsProvider.GetSessionAsync(Edition, SessionId);
    }

    private string FormatTimeLocation(Session session)
    {
        if (session.StartsAt is not null && session.EndsAt is not null)
        {
            var result = $"{session.StartsAt.Value.ToString("dddd dd MMM HH:mm")} - {session.EndsAt.Value.ToString("HH:mm")}";

            if (session.Room is not null)
            {
                result += $" - {session.Room}";
            }

            return result;
        }
        else
        {
            return string.Empty;
        }
    }
}